#Directories to be ignored by git
# * means a fiel
# ** means all files (not needed when wanting to ignore all files in a directory)
__pycache__
.idea
.DX_Store
russian_inflection_collapse_v.06.py
russian_inflection_collapser.py
russian_inflection_collapser_old.py
russian_inflection_collapser_v.75.py
reference_lists_creator.py
backflow_to_database_text.txt
updater_status.txt
user_flagged_update_log.txt
morfo_list.pkl
dictionary_forms.pkl
pair_list.pkl
tree_list.pkl
