* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
body{
    background-color: var(--Background-Default);
    color: var(--Text-Color);
    width: 100%;
    position: relative;
}

#page-container{
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 8rem;    /* Footer height */
}


nav{
    display: flex;
    flex-direction:row;
    gap: 30px;
    padding: 20px;
    border-bottom: 3px solid var(--Dark-Outline);
    background: var(--Background-Fronted);
}
nav div{
    cursor: pointer;
    background-color: var(--Element-Default);
    padding: 4px 10px;
    border-radius: 20px;
    border: 2px solid var(--Dark-Outline);
    transition: background-color .25s;
}
nav div:hover{
background-color: var(--Color-Base);
}
nav a{
    text-decoration: none;
    color: var(--Text-Color);
}


h1{
    text-align: center;
    margin: 15px;
    margin-bottom: 2rem;

}
img{
    height:20px;
    display: block;
    width: 300px;
    margin:auto;
    margin-top:-20px;
    margin-bottom: 20px;
}
p{
    margin: 2px 30px 1rem 30px;
}
form.Entry-Group{
    margin-top: 60px;
    padding: 0px 35px 0px 20px;
}

label{
    margin:0px 30px;
    margin-top: 60px;
}

#text-field{
    width: 100%;
    height: 10rem;
    border: 2px solid var(--Dark-Outline);
    border-radius: 8px;
    margin:5px 0px;
    background-color: var(--Element-Default);
    color: var(--Text-Color);
    resize: vertical;
    padding: 6px;
    scroll-behavior: smooth;
}
/* scrollbar width */
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5px;
    height: 95%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgb(42, 42, 42);
    margin: 5px 0px;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--Element-Default);
    border: .5px solid var(--Dark-Outline);
}



#text-field:focus{
    outline: 2px solid var(--Color-Base);
    outline-offset: 1px;
    border:2px solid var(--Dark-Outline);
}
    
    
    /* BUTTON LINE SECTION */


.button-line{
    display: flex;
}

/* Tries to apply to all three buttons */
.btn{
    background-color: var(--Element-Default);
    padding: 4px 8px;
    cursor: pointer;
    color: var(--Text-Color);
    outline: none;
    border-bottom: 2px solid var(--Dark-Outline);
    border-top: 2px solid var(--Dark-Outline);
    width: 7rem;
    transition: background-color .25s;
}

/* Applies to the SUBMIT button */
button#Create_List{
    border-radius: 16px 0px 0px 16px;
    border: 2px solid var(--Dark-Outline);
    border-left: 2px solid var(--Dark-Outline);
    border-right: 1px solid var(--Dark-Outline);

}
/* Applies to the Righthand button */
#Output_Style{
    border-radius: 0px 16px 16px 0px;
    background-color: var(--Element-Default);
    width: 9.2rem;
    border-right: 2px solid var(--Dark-Outline);
    border-left: 1px solid var(--Dark-Outline);
}
/* Applies to the Middle button */
#Output_Breadth{
    border-right: none;
    border-left: none;
}

/* Hover over orange effect for EACH BUTTON CHRIST */
button.btn:hover{
    background-color: var(--Color-Base);
}
select.btn#Output_Breadth:hover{
    background-color: var(--Color-Base);
}
select.btn#Output_Style:hover{
    background-color: var(--Color-Base);
}
option{
    background-color: var(--Background-Default);
    color: var(--Text-Color);
}
#Output_Style::after{
    content: "Top Words: Only from 10% to 30% Broad List: Only from 5% to 80% Full List: All words from input text"
    
}

footer div{
    background: linear-gradient(vertical,rgb(40,40,40),red);
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    border-top: 3px solid var(--Dark-Outline);
    padding: 20px 30px 20px 30px;
    text-align: right;
    height: 20px;
    bottom: 0;
    position: absolute;
    right:0;
    width: 100%;
    line-height: 1.5rem;
}

footer div a, footer div a:visited{
    text-decoration: underline;
    color: var(--Text-Color);
}
.list-entry a{
    color: var(--Text-Color);
    text-decoration: none;
}
.list-entry a:visited{
    color: var(--Color-Base);
    text-decoration: none;
}
.list-entry{
    line-height: .65rem;
}
#list-header{
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
}
#wiki-button:hover{
    background-color: var(--Color-Base);
}
.button-row{
    display: flex;
    flex-direction: row;
}
.button-row div{
    background: var(--Element-Default);
    border: 2px solid var(--Dark-Outline);
    border-radius: 0px 20px 20px 0px;
    padding: 4px 8px;
    outline: none;
    margin-bottom:15px;
    border-left: .5px solid var(--Dark-Outline);
}
#wiki-button{
    background-color: var(--Element-Default);
    padding: 4px 8px;
    cursor: pointer;
    color: var(--Text-Color);
    outline: none;
    border: 2px solid var(--Dark-Outline);
    width: 140px;
    border-radius: 20px 0px 0px 20px;
    transition: background-color .25s;
    margin-left: 30px;
    margin-bottom: 15px;
    border-right: .5px solid var(--Dark-Outline);
}