{% extends "base.html" %}

{% block title %}
    <title>Anki Deck</title>
{% endblock %}


{% block content %}

<h1>Anki Flashcard Deck in the Verb Tree Model</h1>
        <img src="/static/images/Underline-Stroke.png">

    <p>
        Anki is a digital flashcard application that provides time-delayed exposure. Below you can download a deck which contains 
        a large number of Russian verb trees, presented as: Root Space (-Branch Imperfective). The deck also contains multiple
        explanation cards, diagrams, example verb tree demonstrations, and semantic snapshots of the Russian verbal prefixes.

    </p>
        <a href="/static/Verb Root Master List (10-3-22).apkg" download>
            <button class="download-btn">Download Anki Deck</button>
          </a>


{% endblock%}