<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/color-palette.css">
    <link rel="stylesheet" href="/static/RUBIT.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <link rel="shortcut icon" href="/static/images/RUBIT Logo Icon.png">
    
    
    
    {% block title %}
    <title>Base</title>
    {% endblock %}
</head>
<body>
    <div id="page-container">
    <div id="content-wrap">
        <nav>
            <img id="logo" src="/static/images/RUBIT Logo Small.png">
            <div><a href="/rubit">Vocabulary List Maker</a></div>
            <div><a href="/pairs">Complete Verb Pair List</a></div>
            <div><a href="/trees">Complete Verb Tree List</a></div>
            <div><a href="/ankiDeck">The Tree Model</a></div>
        </nav>
    {% block content %}
        
    {% endblock %}
            <footer>
                <div>
                    <a target="_blank" href="https://www.linkedin.com/in/Noah-Steckley/">Linkedin</a>
                    <a target="_blank" href="https://github.com/Noah3141/RussianVocabularyLister">Project Code</a>
                    <a target="_blank" href="https://www.NoahSteckley.com/">My Site</a>
                    <a target="_blank" href="https://www.NoahSteckley.com/gadgets/russian-example-vocab-sentence">Example Sentence Generator</a>
                    <a href="/changelog">Changelog</a>
                    <img src="/static/images/RUBIT Logo.png" alt="RUBIT Logo">

                </div>
            </footer>

    </div>
            <script src="/static/RUBIT.js">
            </script>
</body>
</html>