{% extends "base.html" %} {% block title %}
<title>Changelog</title>
{% endblock %} {% block content %}

<div style="margin: 20px">
  <h3>3/31/2023</h3>
  <ul>
    <li>
      <strong>New counts are: 3368 pairs, and 318 trees</strong>
    </li>
    <li>
      Investigated URL function:
      <ul>
        <li>russianvocabularylistmaker.com/ BAD</li>
        <li>russianvocabularylistmaker.com/rubit GOOD</li>
        <li>www.russianvocabularylistmaker.com/ GOOD</li>
        <li>http://russianvocabularylistmaker.com/ BAD</li>
        <li>http://www.russianvocabularylistmaker.com/ GOOD</li>
      </ul>
    </li>
    <li>
      Investigated flag button further: Appears to work well under deployment
      conditions now
    </li>
    <li>
      Added further support for irregular words, such as the forms of брать and
      fleeting -ец words.
    </li>
    <li>
      Made improvements to the stop words list, which attempts to prevent benign
      words (prepositions, pronouns) from being processed or given in the output
      list.
    </li>
    <li>
      Fixed the class 6c verbs not actually being processed properly (казать,
      чесать, плескать)
    </li>
  </ul>

  <h3>3/30/2023</h3>
  <ul>
    <li>
      <strong>New counts are: 3337 pairs, and 313 trees (10.5 to 1)</strong>
    </li>
    <li>
      Tried to make progress in fixing some of the automated prefix/root
      detection to better process roots
    </li>
    <li>
      Fixed some prefixes blotting out others from the prefix list in Trees
    </li>
    <li>
      Brought more words up from * section at the bottom of Trees. When done
      correctly, this section should house a list of verbs which one could call
      "bushes", they don't really get off the ground: they have stems, and
      prefixed perfective forms, but no imperfectives are ever made from them
      (although an ambitious speaker is liable to change that).
    </li>
    <li>
      Main motion verbs are in! Their trees are both especially developed and
      especially wonky, unlike the average verb. Attempts were made to do a bit
      of extra labeling to ensure that the tree doublet [ root (-branch) ]
      implies the proper verbal aspects.
    </li>
  </ul>

  <h3>3/29/2023</h3>
  <ul>
    <li><strong>New counts are: 3039 pairs, and 274 trees</strong></li>
    <li>
      Class 14 verbs (мять,жать,взять) and class 9 verbs (тереть, мереть,
      переть) should be much better addressed by Raw Vocabulary.
    </li>
    <li>
      Database augmented with necessary words to allow a few more trees to
      unfold, and be moved from * graveyard at the bottom into a full listing.
    </li>
    <li>
      Labeled some trees like класть/ложить (-лагать, -кладывать) more
      accurately in tree list
    </li>
    <li>Added ё to output in verb pages</li>
    <li>
      Further increased the number of recognized and listed verb trees and pairs
    </li>
  </ul>
  <h3>3/28/2023</h3>
  <ul>
    <li>
      The verb pair page is now loaded at base with much of the manual deck I
      made (see The Tree Model), such that a good deal of the squirrel-y
      language processing from database only applies to the outskirts of
      vocabulary. This means the fundamentals are manual, and accurate, and the
      output is only left to complex and faulty processing where necessary. This
      isn't as cool from a natural langauge processing perspective, but it
      speeds up getting the app to a hyper-useful, very accurate level. Less
      coding, more manual, less errors, less time, more success. (Where doubled
      imperfective branches occur, preference was given to the -ать, -еть or
      -сти form over the -нуть)
    </li>
    <li>
      Reflexives are in! And they have been sorted next to their transitive
      counterparts.
    </li>
    <li>
      Fixed some of the correct Trees page entries being accompanied by a broken
      duplicate of themselves
    </li>
    <li>
      The words in over 100 books were added to the database, hopefully making a
      dent in the amount of manual update necessary, and improving contents of
      total lists.
    </li>
    <li>
      Attempts were made to fix the web app not loading using
      "russianvocabularylistmaker.com/" (as of now it still requires /rubit
      explicitly)
    </li>
  </ul>

  <h3>3/27/2023</h3>
  <ul>
    <li>
      Worked towards fixing flag word update not working, and automatic missing
      key update not working in deployment conditions, by rearranging and adding
      locks, and having flagged word update stash its work when unable to
      complete it immediately. Unfortunately, this will result in some flagged
      words not updating until after the wait time of the next list creation.
    </li>
    <li>
      Made tree lists sorted by prefix length, so that the most proliferated
      trees are at the top
    </li>
    <li>
      Added further sorting to the Tree List on The Tree Model page, pulling out
      a Sound/Vocalization verb section
    </li>
    <li>
      Set up a back up server ready to accept web app should the current ever
      fail, and complete the server set up diagram (github)
    </li>
    <li>Radically increased logging on updater to facilitate debugging</li>
  </ul>

  <h3>3/25/2023</h3>
  <ul>
    <li>Added favicon image to site (what shows up on the website's tab)</li>
    <li>
      Added explicit reference to the research article that provided the вы-
      semantic map
    </li>
    <li>Made further improvements to the formatting of The Tree Model page</li>
  </ul>

  <h3>3/24/2023</h3>
  <ul>
    <li>
      <strong>Total verb pair list went from: 1375 to 2057 </strong>
    </li>
    <li><strong>Total verb tree list went from: 529 to 220</strong></li>
    <li>Added changelog page</li>
    <li>Fixed overfitting consonant mutations in verb pairs</li>
    <li>Fixed prefix analysis in verb tree</li>
    <li>Gave a few specific words overrides</li>
    <li>Added -нуть verbs to the full verb lists</li>
    <li>
      Removed unnecessary flag buttons from verb list outputs (pairs and trees),
      as these are generated wholesale and cannot be updated individually
    </li>
    <li>
      Fixed some consonant cluster misformations, and arranged for
      multiplicative correction going forward
    </li>
    <li>
      Made verb lists generate from the product of the dictionary key, meaning
      that database growth is slightly more effective at improving verb lists
    </li>
    <li>
      Complete verb pair list is now alphabetized in from end-to-start of word
      of the perfective, grouping words while sorting
    </li>
  </ul>

  <h3>3/23/2023</h3>
  <ul>
    <li>Added logos</li>
  </ul>
</div>
{% endblock %}
