{% extends "base.html" %}

{% block title %}
    <title>Vocabulary List</title>
{% endblock %}



{% block content %}

<div class="button-row" id="wiki-row">
    <button id="wiki-button" title="Switch vocabulary links between Викисловарь and Wiktionary">Wiktionary Links:</button>
    <div id="lang">RU</div>
</div>

<div class="button-row" id="toggle-row">
    <button id="toggle-button" title="Toggle frequency count">Frequencies:</button>
    <div id="tog">ON</div>
</div>



<h1>Vocabulary List</h1>
        <img src="/static/images/Underline-Stroke.png">

<div>
    <div class="headers">
        <h2 id="list-header">Word - Frequency in Study material</h2>
            <h3 id="output-readout">{{dictionary|length}} Words (Breadth: {{breadth}})</h3>
    </div>
    <!--This will need to be broken into if blocks that test for if {{style}}=="Verb Pairs" and then list out a different entry system, and value inside the button-->
    {% for word in dictionary %}
    
                <div class="list-row" id="list-row-{{loop.index}}">
                    
                    <div id="list-entry" class="entry-{{loop.index}}">
                        <a class="wiki-link-RU" target="_blank" href="https://ru.wiktionary.org/wiki/{{word}}">
                            {{word}}</a><span class="freq"> - {{dictionary[word]}}</span>
                    </div>
                
                    <div id="update" title="Flag entry for update">
                        <button name="flag-word" value="Raw Vocabulary: {{word}} - {{dictionary[word]}}" id="update-entry-{{loop.index}}" class="update-entry">
                            <i class="fa-lg fa-solid fa-flag" id="flag"></i>
                        </button>
                    </div>
                
    </div>

    {% endfor %}
</div>
<br><span id="asterisk-label">* Word was not present in key. Automatically updating: Check back after about {{missing}} minutes. </span>
<br><span id="asterisk-label">** Automatic update could not find dictionary form.</span>

<input type="hidden" id="input_text" name="input_text" value="{{input_text}}">
<script src="/static/lists.js"></script>
{% endblock %}