{% extends "base.html" %}

{% block title %}
    <title>Vocabulary List Maker</title>
{% endblock %}


{% block content %}

<h1>List Maker</h1>
        <img src="/static/images/Underline-Stroke.png">
        <p>
            This tool can be used to create vocabulary lists from Russian text. Try YouTube transcripts of podcasts or speeches, book chapters, or articles.
        </p>
        <p>
            Input your study material text and choose settings for what kind of list output you want. 
            You can set the "breadth" to include:</p>
            <ul>
                <li>
                    "Full List" (all words)
                </li>
                <li>
                    "Broad List" (exclude the least common words)
                </li>
                <li>
                    "Top Words" (only the most common words)
                </li>
                <li>
                    "Bottom Words" (only the least common words)
                </li>
            </ul> 
            <p>"Raw Vocabulary" will return all words, while "Verb Pairs" will return the aspectual pairs in your text, 
            and "Verb Trees" will return verbs in the tree model, in the simplest form: 
            Root Forms (-Branch Forms)</p>
            <p>All of the words will have links to Wiktionary/Викисловарь, which you can switch between using the button. If the key doesn't recognize a word, it will attempt to automatically update that word.</p>

        <form class="Entry-Group" action="/rubit/output" method="post">
            <label for="text-field">Enter your study material here:</label><br>
            <textarea name="text_field" id="text-field"></textarea><br>
            <div class="button-line">
                    <button class="btn" title="Generate using current settings" type="submit"  name="Action" value="create_list" id="Create_List" >Create List</button>
                    
                    <select class="btn" name="Output_Breadth" id="Output_Breadth" title="Select breadth of output list">  
                        <option>Full List</option>
                        <option>Broad List</option>
                        <option>Top Words</option>
                        <option>Rare Words</option>
                    </select>

                    <select class="btn" name="Output_Style" id="Output_Style" title="Select style of output list">  
                        <option>Raw Vocabulary</option>
                        <option>Verb Pairs</option>
                        <option>Verb Trees</option>
                    </select>
            </div>
        </form>
        <br>
        <p>The Complete Verb Pair List page contains as close to a full representation of all core Russian verb pairs as possible.</p>
        <p>The Complete Verb Tree List  page contains these verbs parsed into the tree model described in The Tree Model. The trees are sorted so that the most proliferated trees are at the top, which are the highest yield vocabulary. These are statistically the best words to learn first.</p>
        <p>You can utilize the example sentence generator linked in the footer to see vocabulary in context, separate from your study material. This lets you study the vocabulary quickly and effectively, so that when you turn back to the podcast, article, or book chapter, you can follow the material the first time through!</p>
    </div>

    {% endblock %}