{% extends "base.html" %}

{% block title %}
    <title>Vocabulary List Maker</title>
{% endblock %}


{% block content %}

<h1>Russian Vocabulary List Maker</h1>
        <img src="/static/images/Underline-Stroke.png">
        <p>The most important part of learning language is not that you use the best methods for learning. It is that you use methods that 
            can be sustained. Varying what tools you use goes a long way towards longevity in learning. While vocabulary lists in and of themselves
            are not incredible tools for language input, they can be very helpful for augmenting the usefulness of a text. Beginners and more advanced
            learners both can benefit from easily being able to quickly create vocabulary lists for unstructured, uncurated, naturally
            produced content.
        </p>
        <p>
            This tool can be used to create vocabulary lists from YouTube transcripts of podcasts or speeches, book chapters, articles — any
            Russian text.
        </p>
        <p>
            Input your study material text and choose settings for what kind of list output you want. 
            You can set the "breadth" to include the "Full List" (all words), "Broad List" (words that occur more than once)
            and "Top Words" (words that occur [right now based on more than 4 times but it should be based on list size]). 
            "Raw Vocabulary" will return all words, while "Verb Pairs" will return the aspectual pairs in your text, 
            and "Verb Trees" will return verbs in the tree model, in the simplest form: 
            Root Forms (-Branch Forms)

        </p>
        <form class="Entry-Group" action="/rubit/output" method="post">
            <label for="text-field">Enter your study material here:</label><br>
            <textarea name="text_field" id="text-field"></textarea><br>
            <div class="button-line">
                    <button class="btn" title="Generate using current settings" type="submit"  name="Action" value="create_list" id="Create_List" >Create List</button>
                    
                    <select class="btn" name="Output_Breadth" id="Output_Breadth" title="Select breadth of output list">  
                        <option>Full List</option>
                        <option>Broad List</option>
                        <option>Top Words</option>
                    </select>

                    <select class="btn" name="Output_Style" id="Output_Style" title="Select style of output list">  
                        <option>Raw Vocabulary</option>
                        <option>Verb Pairs</option>
                        <option>Verb Trees</option>
                    </select>
            </div>
        </form>
            

    </div>

    {% endblock %}