{% extends "base.html" %}

{% block title %}
    <title>Vocabulary List</title>
{% endblock %}



{% block content %}

<h1>Vocabulary List</h1>
        <img src="/static/images/Underline-Stroke.png">

<div>
    <div class="headers">
        <div class="button-row">
            <button id="wiki-button">Wiktionary Links:</button>
            <div>RU</div>
        </div>
        <h2 id="list-header">Word - Frequency in Study Material</h2>
        
    </div>
    {% for word in dictionary %}
    <p class="list-entry">
        <a class="wiki-link-RU" target="_blank" href="https://ru.wiktionary.org/wiki/{{word}}">{{word}}</a> - {{dictionary[word]}}   
    </p>
    {% endfor %}
</div>



<script src="/static/lists.js"></script>
{% endblock %}