{% extends "base.html" %}

{% block title %}
    <title>Verb Tree Model</title>
{% endblock %}


{% block content %}

<h1>The Verb Tree Model</h1>
        <img src="/static/images/Underline-Stroke.png">




<p> The verb tree model presents Russian verbs as routinely derived sets of branch pairs, 
    generated predictably from a small number of root space arrangements.</p>
    <p>The footers "Root Space" and "Branch Space" are intended to be considered systematically paired. That is, 
        a root space of (-ать/-нуть) should be assumed at baseline to result in a doubled perfective branch, etc.</p>
    <p>The basic rule of this model follows what has become standard fare in Russian linguistic literature: prefixes perfectivize, suffixes imperfectivize.</p>
    <p>
        While it is true that given the root space, one can derive the resulting branch space, 
        organizing the model that way would be pedagogically verbose,
         as students would need learn the corresponding branch space arrangements for each of the root space prototypes. 
         By minimally increasing the length of the vocabulary token
        to include the root space and the branch imperfective stem, the model provides a robust, simple, and efficient system of
        packaging Russian verbs for learning. 
    </p>
    <p> So, where the tree model is utilized, the tree is distilled as: Root Space (-Branch Imperfective)</p>
        <br><br>

<img class="TreeDiagram" src="static/images/говоритьTree.jpg"><br>
<img class="TreeDiagram" src="static/images/судитьTree.jpg"><br>
<img class="TreeDiagram" src="static/images/кинутьTree.jpg"><br>
<img id="класть" class="TreeDiagram" src="static/images/кластьTree.jpg"><br>
<p id="класть-label">As a rule, the emergent consonant in the branch imperfectives is predictable from the root's conjugations. </p>
<img class="TreeDiagram" src="static/images/липнутьTree.jpg"><br>
<img class="TreeDiagram" src="static/images/слатьTree.jpg"><br>
<img class="TreeDiagram" src="static/images/ездитьTree.jpg"><br>

{% endblock%}