{% extends "base.html" %}

{% block title %}
    <title>Verb Trees</title>
{% endblock %}



{% block content %}

<h1>Verbs as Trees</h1>
        <img src="/static/images/Underline-Stroke.png">

<div>
    <div class="headers">
        <div class="button-row">
            <button id="wiki-button">Wiktionary Links:</button>
            <div>RU</div>
        </div>
        <h2 id="list-header">Branch Imperfective - Prefixes<br>{{tree_list|length}} Trees</h2>
    </div>
    {% for word in tree_list %}
    <p class="list-entry">
        <a class="wiki-link-RU" target="_blank" href="https://ru.wiktionary.org/wiki/{{word}}">{{word}}&nbsp</a>({{tree_list[word][0]}}): {{tree_list[word][1]}}  
    </p>
    {% endfor %}
</div>



<script src="/static/lists.js"></script>
{% endblock %}