{% extends "base.html" %}

{% block title %}
    <title>Verb Tree Model</title>
{% endblock %}


{% block content %}

<h1>The Verb Tree Model</h1>
        <img src="/static/images/Underline-Stroke.png">




<p> The verb tree model presents Russian verbs as routinely derived sets of branch pairs, 
    generated predictably from a small number of root space arrangements.</p>
    <p>The footers "Root Space" and "Branch Space" are intended to be considered systematically paired. That is, 
        a root space of (-ать/-нуть) should be assumed to create a doubled perfective branch, etc.</p><br><br>

<img class="TreeDiagram" src="static/images/говоритьTree.jpg"><br>
<img class="TreeDiagram" src="static/images/судитьTree.jpg">
<img class="TreeDiagram" src="static/images/кинутьTree.jpg">
<img class="TreeDiagram" src="static/images/кластьTree.jpg">
<img class="TreeDiagram" src="static/images/липнутьTree.jpg">
<img class="TreeDiagram" src="static/images/слатьTree.jpg">
<img class="TreeDiagram" src="static/images/ездитьTree.jpg">

{% endblock%}